@import url('https://use.fontawesome.com/releases/v5.0.10/css/all.css');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');

body{
  background-color: #F8F9FA;
}

h1{
  color: #575F7D;
  font-family: 'Titillium Web', sans-serif;
  padding-top: 30px;
  line-height:40px;
  font-size: 30px
}
p{
  font-family: 'Titillium Web', sans-serif;
  color: gray;
  padding-bottom: 10px;
  line-height:30px;
}
h2{
font-size: 30px;
color: #ADCBE7;
font-family: 'Titillium Web', sans-serif;
}

#profilepic{
  border-radius: 50%;
}
@media(max-width: 3000px) {
  .container{
      width: 800px;
      margin: 40px auto;
  }

  h1{
  color: #575F7D;
  font-family: 'Titillium Web', sans-serif;
  padding-top: 30px;
  line-height:40px;
  font-size: 30px
  }

}

@media(max-width: 1000px) {
  .container{
      width: 800px;
      margin: 30px auto;
  }
    h1{
  color: #575F7D;
  font-family: 'Titillium Web', sans-serif;
  padding-top: 30px;
  line-height:20px;
  font-size: 20px
  }

  p{
  font-family: 'Titillium Web', sans-serif;
  color: gray;
  padding-bottom: 10px;
  line-height:30px;
  font-size: 15px;
  line-height:25px;
  }
}


@media(max-width: 800px) {
  .container{
      width: 700px;
      margin: 20px auto;
  }

      h1{
  color: #575F7D;
  font-family: 'Titillium Web', sans-serif;
  padding-top: 30px;
  line-height:10px;
  font-size: 20px
}
}


.btn-blue{
    background-color: #6B72E1;
    color: white;
    padding: 15px 20px;
    border-radius: 4px;
    text-decoration: none;
    font-family:sans-serif;
}

.btn-blue:hover {
  background-color: black;
  color: white;
}

.list-inline-ul {
  list-style: none;
  padding-left: 0px;
}

.list-inline {
  display: inline-block;
  padding: 0px 20px;
}

.icon{
  font-size:50px;
  color:lightcoral;
}

.icon:hover{
 font-size:50px;
   color:lavenderblush;
}

.card-style{
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 60px;
  background-color: white;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  margin: 20px 0px;
  border-radius: 3px;
  text-align: center;

}
